<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- start header -->
    <header>
      <div class="nav-bar">
        <div class="slider"></div>
        <div class="container">
          <div class="header-content">
            <h2>Product List</h2>
            <ul>
              <li class="button">
                <a href="index-add.html">Add</a>
              </li>
              <li class="button" id="delete-product-btn">Mass Delete</li>
            </ul>
          </div>
          <hr />
        </div>
      </div>
    </header>
    <!-- end header -->
    <!-- start content -->
    <div class="content">
      <div class="container">
        <div class="cart-container">
          <div class="cart-item">
            <div>
              <input type="checkbox" class="delete-checkbox" />
            </div>
          </div>
          <div class="cart-item">
            <div>
              <input type="checkbox" class="delete-checkbox" />
            </div>
          </div>
          <div class="cart-item">
            <div>
              <input type="checkbox" class="delete-checkbox" />
            </div>
          </div>
          <div class="cart-item">
            <div>
              <input type="checkbox" class="delete-checkbox" />
            </div>
          </div>
          <div class="cart-item">
            <div>
              <input type="checkbox" class="delete-checkbox" />
            </div>
          </div>
        </div>
      </div>
      <!-- end content -->
    </div>
    <!-- start footer -->
    <footer>
      <div class="container">
        <hr />
        <div class="footer-content">Scandiweb Test Assignment</div>
      </div>
    </footer>
    <!-- end footer -->
  </body>
</html>
