body {
  margin: 0;
  padding: 0;
  /*background-color: #f4f4f4; /* Light gray background color */
  font-family: Arial, sans-serif; /* Font style */
}

input {
  border-radius: 4px;
  appearance: textfield;
}

.content {
  min-height: 700px;
}

.container {
  width: 80%; /* Set the width to 80% of the page */
  margin: auto;
}

header .slider {
  height: 40px;
}

.header-content {
  display: flex;
  justify-content: space-between; /* Distribute space between h2 and ul */
  align-items: center; /* Align items vertically centered */
}

header .nav-bar h2 {
  float: left;
}

header .nav-bar ul {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  float: right;
}

header .nav-bar ul li {
  padding: 10px;
  float: left;
  text-transform: uppercase;
}

.button {
  background-color: #dc143c;
  color: #f0f3f4;
  text-align: center;
  margin: 10px;
  border-radius: 5px; /* Slight rounding of corners */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Shadow on the right and bottom */
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #cd5c5c;
  color: #fff8dc;
}

/* Style applied when the button is clicked */
.button.clicked {
  transform: scale(0.85); /* Slightly shrink the button */
}

a {
  color: #f0f3f4;
}

header hr {
  border: 0;
  height: 2px;
  background-color: #ccc; /* Adjust color to match your theme */
  margin-top: -15px; /* Add some space above the line if needed */
}

.cart-container {
  overflow: hidden;
  margin: 20px;
}

.cart-item {
  background-color: #f8f8ff;
  float: left;
  width: calc(25% - 20px);
  margin: 10px;
  height: 200px;
  border-radius: 10px;
}

.delete-checkbox {
  margin: 10px;
}

footer hr {
  border: 0;
  height: 2px;
  background-color: #ccc; /* Adjust color to match your theme */
  margin-top: 15px; /* Add some space above the line if needed */
}

.footer-content {
  text-align: center;
}

.add-product {
  padding-top: 50px;
}

.fixed-input {
  padding: 20px 10px;
}

.fixed-input label {
  display: inline-block;
  width: 5%;
}

.fill {
  margin: 10px;
}

.switcher {
  margin-top: 40px;
}

.switcher label {
  display: inline-block;
  width: 8%;
}

.result {
  margin: 10px;
  padding-left: 20px;
}

.result label {
  display: inline-block;
  width: 8%;
}

a {
  text-decoration: none;
}

.product-info {
  text-align: center;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}
